.column.dropdown .dropdown-holder {
  position: relative;
  display: flex;
  width: 100%;
}

.column.dropdown .dropdown-holder label {
  flex-grow: 1;
  align-items: center;
}

.column.dropdown .dropdown-holder label i {
  margin: 0 5px 0 0;
}

.column.dropdown .dropdown-holder nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 0;
  visibility: hidden;
  width: calc(100% - 26px);
  flex-direction: column;
  background: #fff;
  padding: 5px 0;
  z-index: 1;
  box-shadow: 5px 5px 5px rgb(158, 158, 158);
}

.column.dropdown .dropdown-holder nav .empty-cell {
  border-bottom: solid 1px rgb(158, 158, 158);
}

.column.dropdown .dropdown-holder nav.show {
  height: auto;
  visibility: visible;
}

.column.dropdown .dropdown-holder nav a {
  padding: 5px;
}

.column.dropdown .dropdown-holder nav a:hover {
  background: #e1f5fe;
}

.column.dropdown.multi-dropdown .dropdown-holder nav a {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column.dropdown.multi-dropdown .dropdown-holder nav a[data-check]:after {
  content: "";
  border: solid 1px #000;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.column.dropdown.multi-dropdown .dropdown-holder nav a.checked[data-check]:after {
  content: attr(data-check);
}