#grid-container #lead {
  counter-reset: row-counter;
  grid-template-columns: auto 1px;
  border-left: solid 1px #000;
  position: sticky;
  left: 0;
  z-index: 1;
}

#grid-container #lead a {
  text-decoration: unset;
  color: #000;
  align-items: center;
  justify-content: center;
}

#grid-container #lead .row-number:before {
  counter-increment: row-counter;
  content: counter(row-counter);
}

#grid-container #lead.check-column .title,
#grid-container #lead.check-column .row-number {
  align-items: center;
  padding: 0;
}

#grid-container #lead.check-column .row-number:before {
  content: "";
}

#grid-container #lead.check-column .check-holder {
  border: solid 1px #000;
  box-sizing: border-box;
  display: flex;
}

#grid-container #lead.check-column .cell-content {
  display: flex;
}

#grid-container #lead.check-column .check-holder i {
  visibility: hidden;
}

#grid-container #lead.check-column .checked .check-holder i {
  visibility: visible;
}