@import "reset.css";
@import "variables.css";
@import "./columns/leadColumn.css";
@import "./columns/dropdownColumn.css";
@import "./columns/checkboxColumn.css";
input {
  margin: 0;
  padding: 5px;
  border: 0;
  cursor: inherit;
  width: 100%;
}

a {
  text-decoration: unset;
  color: #000;
}

#layout {
  position: relative;
  top: 10px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

#grid-container {
  display: grid;
  grid-template-areas: var(--column-template-areas);
  border: unset;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  height: 500px;
  width: 300px;
}

#grid-container .column {
  display: grid;
  grid-template-areas: "header cell-border" var(--cell-template-areas) "footer cell-border";
  grid-template-columns: auto 4px;
  grid-template-rows: var(--grid-header-cell-height) 0 0 repeat(var(--sum-of-cell), auto);
  box-sizing: border-box;
  position: sticky;
}

#grid-container .column header {
  display: flex;
  grid-area: header;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;
}

#grid-container .column footer {
  display: flex;
  grid-area: footer;
  min-height: 25px;
  background: #fff;
  box-sizing: border-box;
  border-bottom: solid 1px #000;
  border-top: solid 1px #000;
  position: sticky;
  bottom: 0;
}

#grid-container .column header > *,
#grid-container .column > .cell-row {
  height: 25px;
  box-sizing: border-box;
}

#grid-container .column.current-drop-place {
  outline: dotted 2px red;
}

#grid-container.on-search .column {
  grid-template-rows: auto repeat(var(--sum-of-cell), auto);
}

#grid-container.on-add-row .column {
  grid-template-rows: auto repeat(var(--sum-of-cell), auto);
}

#grid-container.on-search.on-add-row .column {
  grid-template-rows: auto repeat(var(--sum-of-cell), auto);
}

#grid-container .column strong,
#grid-container .column .title {
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
  background: #fff;
}

#grid-container .column .title {
  border-top: solid 1px #000;
  box-sizing: border-box;
}

#grid-container .column .search-row {
  background: #cecece;
}

#grid-container .column .add-row {
  background: lightgreen;
}

#grid-container .column .drop-row {
  flex-direction: column;
  justify-content: unset;
}

#grid-container .column .drop-row .cell-content {
  flex-grow: 1;
  align-items: center;
}

#grid-container .column .drop-area-row {
  height: 0;
  width: 100%;
  border: dotted 0 red;
  border-left: unset;
  border-right: unset;
  transition: height 0.5s linear, border 0.5s linear;
}

#grid-container .column .active-drop-row .drop-area-row {
  height: 18px;
  border-width: 1px;
}

#grid-container .column .cell-row:nth-child(even) {
  background: #fff;
}

#grid-container .column .cell-row:nth-child(odd) {
  background: #ccc;
}

#grid-container .column label {
  cursor: pointer;
}

#grid-container .column input {
  background: transparent;
}

#grid-container .column .searchfield-label,
#grid-container .column .search-button,
#grid-container .column .add-row-label,
#grid-container .column .add-button,
#grid-container .column .cell-label,
#grid-container .column .row-number {
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  display: flex;
}

#grid-container .column .resize-border,
#grid-container .column .end-border {
  background: #000;
}

#grid-container .column .resize-border {
  cursor: col-resize;
  background: #000;
}