/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
  padding: 5px;
  border: 0;
  cursor: inherit;
  width: 100%;
}

:root {
  --sum-of-cell: 0;
  --cell-template-areas: "";
  --column-template-areas: "column";
  --grid-header-cell-height: 25px;
  --grid-search-cell-height: 25px;
  --grid-add-cell-height: 25px;
}

#layout {
  position: relative;
  top: 10px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

#grid-container {
  display: grid;
  grid-template-areas: var(--column-template-areas);
  border: solid 1px #000;
  border-right: unset;
  border-bottom: unset;
  position: relative;
  box-sizing: border-box;
}

#grid-container .column {
  display: grid;
  grid-template-areas: "title cell-border" ". cell-border" ". cell-border" var(--cell-template-areas);
  grid-template-columns: auto 1px;
  grid-template-rows: var(--grid-header-cell-height) 0 0 repeat(var(--sum-of-cell), auto);
}

#grid-container.on-search .column {
  grid-template-rows: var(--grid-header-cell-height) -
  var(--grid-search-cell-height) 0 repeat(var(--sum-of-cell), auto);
}

#grid-container.on-add-row .column {
  grid-template-rows: var(--grid-header-cell-height) 0 var(--grid-add-cell-height) repeat(var(--sum-of-cell), auto);
}

#grid-container.on-search.on-add-row .column {
  grid-template-rows: var(--grid-header-cell-height) var(--grid-search-cell-height) var(--grid-add-cell-height) repeat(var(--sum-of-cell), auto);
}

#grid-container .column strong {
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

#grid-container .column .search-row {
  background: #cecece;
}

#grid-container .column .add-row {
  background: lightgreen;
}

#grid-container .column .cell-row:nth-child(even) {
  background: #fff;
}

#grid-container .column .cell-row:nth-child(odd) {
  background: #ccc;
}

#grid-container #lead.column {
  counter-reset: row-counter;
}

#grid-container #lead.column a {
  text-decoration: unset;
  color: #000;
  align-items: center;
  justify-content: center;
}

#grid-container .column label {
  cursor: pointer;
}

#grid-container .column input {
  background: transparent;
}

#grid-container .column .searchfield-label,
#grid-container .column .search-button,
#grid-container .column .add-row-label,
#grid-container .column .add-button,
#grid-container .column .cell-label,
#grid-container .column .row-number {
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  display: flex;
}



#grid-container .column .row-number:before {
  counter-increment: row-counter;
  content: counter(row-counter);
}

#grid-container .column .resize-border,
#grid-container .column .end-border {
  background: #000;
}

#grid-container .column .resize-border {
  cursor: col-resize;
}