@import "reset.css";
@import "variables.css";
@import "./columns/leadColumn.css";
@import "./columns/dropdownColumn.css";
@import "./columns/checkboxColumn.css";
input {
  margin: 0;
  padding: 5px;
  border: 0;
  cursor: inherit;
  width: 100%;
}

a {
  text-decoration: unset;
  color: #000;
}

#layout {
  position: relative;
  top: 10px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

#grid-container {
  display: grid;
  grid-template-areas: var(--column-template-areas);
  border: solid 1px #000;
  border-right: unset;
  border-bottom: unset;
  border-top: unset;
  position: relative;
  box-sizing: border-box;
}

#grid-container .column {
  display: grid;
  grid-template-areas: "title cell-border" ". cell-border" ". cell-border" var(--cell-template-areas);
  grid-template-columns: auto 4px;
  grid-template-rows: var(--grid-header-cell-height) 0 0 repeat(var(--sum-of-cell), auto);
  border-top: solid 1px #000;
  ;
  box-sizing: border-box;
}

#grid-container.on-search .column {
  grid-template-rows: var(--grid-header-cell-height) var(--grid-search-cell-height) 0 repeat(var(--sum-of-cell), auto);
}

#grid-container.on-add-row .column {
  grid-template-rows: var(--grid-header-cell-height) 0 var(--grid-add-cell-height) repeat(var(--sum-of-cell), auto);
}

#grid-container.on-search.on-add-row .column {
  grid-template-rows: var(--grid-header-cell-height) var(--grid-search-cell-height) var(--grid-add-cell-height) repeat(var(--sum-of-cell), auto);
}

#grid-container .column strong,
#grid-container .column .title {
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
}

#grid-container .column .search-row {
  background: #cecece;
}

#grid-container .column .add-row {
  background: lightgreen;
}

#grid-container .column .cell-row:nth-child(even) {
  background: #fff;
}

#grid-container .column .cell-row:nth-child(odd) {
  background: #ccc;
}

#grid-container .column label {
  cursor: pointer;
}

#grid-container .column input {
  background: transparent;
}

#grid-container .column .searchfield-label,
#grid-container .column .search-button,
#grid-container .column .add-row-label,
#grid-container .column .add-button,
#grid-container .column .cell-label,
#grid-container .column .row-number {
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  display: flex;
}

#grid-container .column .resize-border,
#grid-container .column .end-border {
  background: #000;
}

#grid-container .column .resize-border {
  cursor: col-resize;
  background: #000;
}