:root {
  --sum-of-cell: 0;
  --cell-template-areas: "";
  --column-template-areas: "column";
  --grid-header-cell-height: 25px;
  --grid-search-cell-height: 25px;
  --grid-add-cell-height: 25px;
  --context-menu-border-style: solid 1px #eee;
}